.*
!/.gitignore
!/.eslintrc.js
!/.eslintrc.json
!Django/scrummer/.babelrc
.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
*.pyc
bin/
lib/
include/
*.sqlite3
static_in_env
Django/scrummer/scrummer/settings_local.py
Django/scrummer/static/*
Django/scrummer/scrummerDB
webpack-stats.json